# Database (Supabase connection string)
DATABASE_URL="postgresql://postgres:[PASSWORD]@[HOST]:5432/[DATABASE]?schema=public"

# NextAuth
NEXTAUTH_SECRET="your-secret-key-here-generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"

# Email (Brevo)
BREVO_API_KEY="xkeysib-xxxxxxxxxxxx"
EMAIL_FROM_NAME="Bari Shamlai"
EMAIL_FROM_ADDRESS="noreply@barishamlai.app"

# App
NEXT_PUBLIC_APP_NAME="Bari Shamlai"
NEXT_PUBLIC_BUILDING_NAME="Bari Shamlai"
